/* QUIZ STYLES */
/* Styles to prettify the quiz page */

html {
    background: #eee;
}

body {
    width: 95%;
    margin: 0 auto;
    border: 2vw solid #ccc;
    border-top: none;
    background: #fff;
    padding: 20vw;
    font-family: Trebuchet, Arial,Helvetica,sans-serif;
    font-size: 16vw;
    color: #353535;
    line-height: 1.5em;
}

h1,h2,h3,h4,h5,h6 {font-weight: bold;}

h1 {
    font-size: 26vw;
    margin: 0 0 20vw;
    color: #0C4569;
}
h2 {
    font-size: 22vw;
    margin: 15vw 0;
}
h3 {
    font-size: 18vw;
    margin: 15vw 0 10vw;
}
h4 {
    font-size: 16vw;
    margin: 10vw 0;
}
h5 {
    font-size: 14vw;
    margin: 10vw 0 5vw;
}
h6 {
    font-size: 12vw;
    margin: 5vw 0;
}

strong { font-weight: bold; }
em { font-style: italic; }
ul { list-style-type: circle; }
ol { list-style-type: decimal; }
ol li { list-style-type: decimal; margin-left: 20vw; }

.button {
    float: left;
    width: auto;
    padding: 5vw 15vw;
    color:#ffffff;
    background-color:darkcyan;
    border: 1vw solid #fff;
    -webkit-border-radius: 5vw;
    -moz-border-radius: 5vw;
    border-radius: 5vw;
	text-decoration: none;
}
.button:hover {
    background-color:darkslategray;
}

.startQuiz {
    margin-top: 40vw;
}

.tryAgain {
    float: none;
    margin: 20vw 0;
}

/* clearfix */
.quizArea, .quizResults {
    zoom: 1;
}
.quizArea:before, .quizArea:after, .quizResults:before, .quizResults:after {
    content: "\0020";
    display: block;
    height: 0;
    visibility: hidden;
    font-size: 0;
}
.quizArea:after, .quizResults:after {
    clear: both;
}

.questionCount {
    font-size: 14vw;
    font-style: italic;
}
.questionCount span {
    font-weight: bold;
}

ol.questions {
    margin-top: 20vw;
    margin-left: 0;
}
ol.questions li {
    margin-left: 0;
}

ul.answers {
    margin-left: 20vw;
    margin-bottom: 20vw;
}

ul.responses li {
    margin: 10vw 20vw 20vw;
}
ul.responses li p span {
    display: block;
    font-weight: bold;
    font-size: 18vw;
}
.complete ul.answers li.correct, ul.responses li.correct p span {
    color: #6C9F2E;
}
ul.responses li.incorrect p span {
    color: #B5121B;
}

.quizResults h3 {
    margin: 0;
}
.quizResults h3 span {
    font-weight: normal;
    font-style: italic;
}
.quizResultsCopy {
    clear: both;
    margin-top: 20vw;
}

/* added the followings for floating button */
.label-container{
	position:fixed;
	bottom:48vw;
	right:105vw;
	display:table;
	visibility: hidden;
}

.label-text{
	color:#FFF;
	background:rgba(51,51,51,0.5);
	display:table-cell;
	vertical-align:middle;
	padding:10vw;
	border-radius:3vw;
}

.label-arrow{
	display:table-cell;
	vertical-align:middle;
	color:#333;
	opacity:0.5;
}

.float{
	position:fixed;
	width:60vw;
	height:60vw;
	bottom:40vw;
	right:40vw;
	background-color:#06C;
	color:#FFF;
	border-radius:50vw;
	text-align:center;
	box-shadow: 2vw 2vw 3vw #999;
}

.my-float{
	font-size:24vw;
	margin-top:18vw;
}

a.float + div.label-container {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease;
}

a.float:hover + div.label-container{
  visibility: visible;
  opacity: 1;
}